<h2>Sua lista de tarefas:</h2>

<br/>
<% if @tarefas.empty? %>
    <p>Você não tem nenhuma tarefa criada!</p>
<% else %>
    <table class="table" id="tabela_tarefas">
      <tr id="cabecalho">
        <th id="nome_titulo">Nome</th>
        <th id="prioridade_titulo">Prioridade</th>
        <th id="pronto_titulo">Finalizada</th>
        <th></th>
        <th></th>
      </tr>
      <% @tarefas.each do |tarefa| %>
          <tr>
            <td id="nome"><%= tarefa.nome %></td>
            <td id="prioridade"><%= tarefa.prioridade %></td>
            <td id="status"><%= tarefa_pronta?(tarefa) %></td>
            <td id="editar"><%= link_to "Editar", "#" %></td>
            <td id="excluir"><%= link_to "Excluir", "#" %></td>
          </tr>

      <% end %>
    </table>
<% end %>

<%= link_to "Criar", new_tarefas_path, :class => "btn btn-primary" %>